html body{
  overflow-x: hidden;
  font-size:1em;
}

.row .col{
  float:none;
}
.redes-sociais{
  width:100%;
  height:50px;
  background-color:#0d0d0d;
}

.center-ico{
  padding:7px;
}

.center-ico:hover{
  transition:1.5s;
  transform: rotate(360deg);
}

.navbar-header{
  height:120px;
  font-family: 'Roboto Slab', serif;
  opacity:.8;
}

nav ul a{
  color:#d9cfb0!important;
  line-height:7;
}

.direita{
  margin-right:20%;
}

.esquerda{
  margin-left:20%;
}

.logo-img:hover{
  transition:1s;
  transform: scale(1.5);
}

.logo-img{
  transition:1s;
}

.brand-logo{
  position: relative;
}

.main-bg{
  background-image:url("https://3.bp.blogspot.com/-zL9rbFSDg3o/XBwtmoVzA9I/AAAAAAAAEbE/miF_ZrSY-rs7ixDtUWixrSO56g0Y11FKgCLcBGAs/s1600/darkwood.png");
  width:100%;
  height:2000px;
  background-position:45% 100%;
  background-repeat:repeat;
}

.titulo-secao{
  font-weight: 600;
  color:#d9cfb0;
  font-family: 'Roboto Slab', serif;
  text-align:center;
  margin-top:3%;
  margin-bottom:5%;
  position: relative;
}

.texto-sobre{
  font-family: 'Roboto Slab', serif;
  color:#ded0b0;
  margin-left:2%;
}

.flex-container{
  display: flex;
  align-items: stretch;
  justify-content:space-between;
  flex-direction:row;
  width:90%;
  margin-left:5%;
}


.imagem-precos{
  width:100%;
}


.modal{
  border-radius:5%;
  border-style: solid;
  border-color: #212121;
  border-width: 30px;
  color:#d9cfb0;
}

.modal-content{
  background-color:#212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer{
  background-color:#212121!important;
}

.btn{
  background-color: #212121;
}

.btn:hover{
  background-color: #ded0b0;
}

.main-footer{
  height: 295px;
  width: 100%;
  margin-top:15%;
  background-color: #212121;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

.logo-footer{
  margin: 0 auto;
}

.menu-footer{
  left: 0 auto;
  color: #d9cfb0;
  margin: 0 auto;
}

.sidenav{
  background-color: #212121;
}

.button-sidenav{
  color: #d9cfb0!important;
}

.copiright{
  color: #d9cfb0;
  margin: 0 auto;
  font-size: 1em;
}

.input-cadastro{
  color: #d9cfb0;
}

.botao-modal{
  color: #d9cfb0;
}

.texto-servico{
  font-size: 1em;
}

.modalAgendamento{
  height:500px;
}

.tipo-cabelo{
  color: #d9cfb0!important;
}

.datepicker-modal{
  width:600px;
  padding: 0px;
}

.dropdown-trigger{
  color: #d9cfb0!important;
}

/* .datepicker-container{
  width:400px;
} */

.datepicker{
  color: #d9cfb0;
}

.welcome{
  position: absolute;
  margin-left:80%;
  margin-bottom:50%;
}

.texto-progressiva{
  font-size: 1em;
  color: gray;
}

.datepicker-day-button{
  color: #d9cfb0!important;
}

/*SMALL*/
@media (max-width: 575.98px) {
  .flex-container{
    display: flex;
    margin-left:5%;
    align-content: space-between;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }

  .img-sobre{
    margin-right:20%;
  }

  .btn-modal1{
    width:100%;
    height:100px;
    display: flex;
    flex-direction: column;

  }

  .logo-modal{
    margin-bottom: 100%;
    position: fixed;
  }

  .main-bg{
    height:1500px;
  }

  .welcome{
    position: absolute;
    margin-left:80%;
    margin-bottom:100%;
  }  

 }


/*MEDIUM*/
@media (max-width: 767.98px) {
  .img-sobre{
    margin-left:10%;
  }

}

/*LARGE*/
@media (max-width: 991.98px) {
  .main-bg{
    height:1400px;
  }

  .welcome{
    position: absolute;
    margin-left:80%;
    margin-bottom:80%;
  }
}
